$color-primary: #333 !default;
$background-color-primary: #dcdcdc !default;

$shogiBan-width: 410px !default;
$shogiBan-height: 454px !default;

$koma-width: 43px !default;
$koma-height: 48px !default;

$sente-color: #ff5714;
$gote-color:  #3abeff;

$theme-color: #182e59;
$subTheme-color: #568ec5;
