.hero .c-kifu_hero {
    padding: 1.8rem 1.5rem;
    background-color: $subTheme-color;
}

.c-kifu_hero_heart_base {
    padding-top: 10px;
}

.tag.c-kifu_hero_heart {
    background-color: #363636;
    color: #c9baba;
    cursor: pointer;
}

.tag.c-kifu_hero_heart.is-active {
    color: #ff3860;
}

.c-kifu_hero_description {
    padding-top: 24px;
}
